
.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}



.welcome-container img {
    width: 100%;
    height: auto;
}

.container01 {
    text-align: center;
    padding: 20px;
}

.container01 h1 {
    margin: 0;
    padding: 20px 0;
}

.sub-container01 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 20px;
}

.text01 {
    max-width: 50%;
    padding: 20px;
}

.text01 p {
    margin-bottom: 20px;
    text-align: left;
}

.text01 button {
    background-color: yellow;
    border: none;
    color: #0A2447;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 35px;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

.text01 button:hover {
    background-color: #0A2447;
    color: rgb(255, 255, 255);
}

.image01 img {
    width: 600px;
    height: 370px;
}



.container02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

h1 {
    margin: 0;
    color:#081e40;
    font-family: "Arial", sans-serif;
    font-size: 36px;
    font-weight: 900;
}

.content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
}

.image02 {
    justify-items: flex-start;
}

.image02 img {
    max-width: 60%;
    height: auto;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.text02 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text02 p {
    margin-bottom: 20px;
}

.text02 button {
    background-color: yellow;
    border: none;
    color: #0A2447;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 35px;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

.text02 button:hover {
    background-color: #0A2447;
    color: rgb(255, 255, 255);
}




.slider-standars {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #0f234c, #155882);
    padding: 0;
    margin: 0;
    position: relative;
}

.slider-standars h1 {
    margin: 20px 0 0; 
    padding: 0;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
}

.slider {
    width: 85%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.slider .slide {
    width: 200px;
}

.slider .slide img {
    width: 150px;
    height: 150px;
    padding: 50px;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 15));
        transform: translateX(calc(-200px * 15));
    }
}



@media (max-width: 767px) {
   
    .welcome-container {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 0 0 0;
    }

    .welcome-container::after {
        display: none;
    }

    .welcome-container img {
        width: 100%;
        height: auto;
    }

   
    .container01 {
        padding: 10px;
    }

    .container01 h1 {
        font-size: 1.5rem;
        padding: 10px 0;
    }

   
    .sub-container01 {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    .text01 {
        max-width: 100%;
        padding: 10px;
    }

    .text01 p {
        margin-bottom: 10px;
        text-align: center;
    }

    .text01 button {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
    }

    .text01 button:hover {
        background-color: #0A2447;
        color: rgb(255, 255, 255);
    }

   
    .image01 img {
        width: 100%;
        height: auto;
    }
}

