body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #081F40;
    color: #fff;
    padding: 20px 0;
    font-size: 14px;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
}

.seccion-footer {
    flex: 1;
    padding: 10px;
}

.seccion-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.seccion-logo img.logotipo {
    max-width: 150px;
    margin-bottom: 10px;
}

.seccion-logo .desde {
    margin-top: 10px;
    font-weight: bold;
}

.seccion-enlaces ul, .seccion-contacto ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.seccion-enlaces ul li, .seccion-contacto ul li {
    margin-bottom: 10px;
}

.seccion-enlaces ul li a, .seccion-contacto ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.seccion-enlaces ul li a:hover, .seccion-contacto ul li a:hover {
    color: #f0b429;
}

.seccion-social {
    text-align: center;
    margin-top: 20px;
}

.seccion-social p {
    margin-bottom: 10px;
    font-weight: bold;
}

.seccion-social .iconos-redes-sociales {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.seccion-social .iconos-redes-sociales a {
    font-size: 24px;
    color: #fff;
    transition: transform 0.3s;
}

.seccion-social .iconos-redes-sociales a:hover {
    transform: scale(1.1);
}

.seccion-social .numero-telefono {
    margin-top: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

.seccion-social .numero-telefono i {
    font-size: 20px;
    color: #fff;
}

@media (max-width: 768px) {
    .contenedor {
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }

    .seccion-footer {
        text-align: center;
        padding: 10px 0;
    }

    .seccion-logo img.logotipo {
        max-width: 150px;
    }

    .seccion-logo .desde {
        margin-top: 5px;
    }

    .seccion-enlaces ul li, .seccion-contacto ul li {
        margin-bottom: 5px;
    }

    .seccion-social {
        margin-top: 10px;
    }

    .seccion-social .iconos-redes-sociales {
        gap: 8px;
        margin-bottom: 10px;
    }

    .seccion-social .iconos-redes-sociales a {
        font-size: 20px;
    }

    .seccion-social .numero-telefono {
        margin-top: 5px;
    }

    .seccion-social .numero-telefono i {
        font-size: 18px;
    }

    footer {
        padding: 5px 0;
        font-size: 18px;
    }
}


