<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer de Página San Marcos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./footer.css">
</head>
<body>
    <footer>
        <div class="contenedor">
            <div class="seccion-footer seccion-logo">
                <a href="/San Marcos Web Es/Index.html"><img src="/San Marcos Web Es/Views/Footer/Images/logo_sanmarcos.svg" alt="Logotipo San Marcos" class="logotipo"></a>
            </div>
            <div class="seccion-footer seccion-enlaces">
                <ul>
                    <li><a href="#">Aviso de Privacidad</a></li>
                    <li><a href="/San Marcos Web Es/Views/Nuestros-productos.html">Productos</a></li>
                    <li><a href="https://www.google.com/search?q=productos+chiles+san+marcos&sa=X&biw=1915&bih=915&tbm=shop&ei=7ce5ZI-CDL6hkPIPzMyGwA8&ved=0ahUKEwjPrIzXvJ6AAxW-EEQIHUymAfgQ4dUDCAg&uact=5&oq=productos+chiles+san+marcos&gs_lp=Egtwcm9kdWN0cy1jYyIbcHJvZHVjdG9zIGNoaWxlcyBzYW4gbWFyY29zMgUQABiiBDIFEAAYogRI3xtQyQZYrxFwAXgAkAEAmAFkoAH0BaoBAzguMbgBA8gBAPgBAcICCBAAGIAEGLADwgILEAAYCBgeGBgYsAPCAgcQABgNGIAEwgIKEAAYCBgeGA0YGIgGAZAGAg&sclient=products-cc">¿Dónde comprar?</a></li>
                    <li><a href="/San Marcos Web Es/Views/Legales.html">Legales</a></li>
                </ul>
            </div>
            <div class="seccion-footer seccion-contacto">
                <ul>
                    <li><a href="/San Marcos Web Es/Views/Atencion-clientes.html">Contacto</a></li>
                    <li><a href="/San Marcos Web Es/Views/De-mexico-para-el-mundo.html">San Marcos</a></li>
                </ul>
            </div>
            <div class="seccion-footer seccion-social">
                <p>Síguenos</p>
                <div class="iconos-redes-sociales">
                    <a href="https://www.facebook.com/SanMarcosMexico/" class="bi bi-facebook" title="Facebook"></a>
                    <a href="https://www.instagram.com/sanmarcosmx/" class="bi bi-instagram" title="Instagram"></a>
                    <a href="https://www.youtube.com/channel/UCd7OkDJ7aAN28GpSUsI080A/featured" class="bi bi-youtube" title="YouTube"></a>
                </div>
                <p class="numero-telefono">800 21 68 041</p>
            </div>
        </div>
    </footer>
</body>
</html>
